/LecturaXml/nbproject/private/
/LecturaXml/build/
/LecturaClienteXml - copia/build/
/LecturaClienteXml - copia/nbproject/private/
/LecturaAutoXml/build/
/LecturaAutoXml/nbproject/private/
/LecturaVehículoXml/build/
/LecturaVehículoXml/nbproject/private/
/LecturaVehículoXml - copia/build/
/LecturaVehículoXml - copia/nbproject/private/
/LecturaFacturaXml - copia/build/
/LecturaFacturaXml - copia/nbproject/private/
/LecturaFacturaXml/build/
/LecturaFacturaXml/nbproject/private/
/LeerXmlGeneral/nbproject/private/
/LeerXmlGeneral/build/
/APIRESTFULL/nbproject/private/